body {
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("../images/pixeledforest.webp");
    background-size: cover; /* couvre tout le fond ?*/
}

#navigation {
    background-color: rgb(77, 51, 51);
    padding-top: 5px;
    padding-bottom: 5px; /*agrandi zone grise*/
}

#navigation ul {
    /* border: solid 1px blue; */
    width: fit-content; /* demander!*/
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}
/* espace entre navigation et li fait que ... éléments descendants*/
#navigation li {
    display: inline; /* ??*/
    /* border: solid 1px red; */
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3 {
    color:  #00c852;
}

h1 {
    text-align: center;
    background-color:rgb(218, 253, 218);
    border-radius: 10px;
    border: rgb(2, 107, 0) solid 3px;
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?*, ?*/
}

#image {
    width: 500px;
    height: 300px;
    display: block;
    margin-left: 250px;
    margin-top: 320px;
    margin-bottom: 10px;
}

