body {
    font-family:Arial, Helvetica, sans-serif;
    background-color:rgb(208, 251, 208);
}

h1, h2, h3 {
    color:  #00c852;
}

h1 {
    text-align: center;
    background-color:rgb(218, 253, 218);
    border-radius: 10px;
    border: rgb(2, 107, 0) solid 3px;
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?*, ?*/
}

ul {
    background-color: #00c852;
    border-radius: 10px;
    border-left: green solid 5px;
}
p {
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?, ?*/
    margin: 10px 10px 10px 20px;
    line-height: 25px; /*espace entre lignes?*/
}

h2 {
    text-align: center;
}