body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(198, 254, 188);
}

#navigation {
    background-color: rgb(115, 204, 115);
    padding-top: 5px;
    padding-bottom: 5px; /*agrandi zone grise*/
}

#navigation ul {
    /* border: solid 1px blue; */
    width: fit-content; /* demander!*/
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}
/* espace entre navigation et li fait que ... éléments descendants*/
#navigation li {
    display: inline; /* ??*/
    /* border: solid 1px red; */
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3 {
    color:  #00c852;
}

h1 {
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    border: rgb(2, 107, 0) solid 3px;
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?*, ?*/
}

h2 {
    text-align: center;
    background-color: #f9f9f9;
    border:rgb(2, 107, 0) solid 3px;
    /*width: fit-content;*/
    padding: 5px;
    
}

    /*background-color: rgb(233, 242, 249);
    border-radius: 10px; */

    /*background-color: #00c852;
    border-radius: 10px;
    border-left: #13b3a0 solid 5px; */

p {
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?*, ?/
    margin: 10px 10px 10px 20px;
    line-height: 25px; /*espace entre lignes?*/
}

.important > strong {
    text-decoration: underline solid;
}

.cadre-groupe {
    border: 2px solid rgb(2, 107, 0); /* bordure 2 pixels, style plein, même couleur verte qu'autre cadre*/
    padding: 15px; /*espace entre le contenu et la bordure */
    margin: 20px; /* espace autour du cadre ?*/
    background-color: #f9f9f9; 
}