body {
    font-family:Arial, Helvetica, sans-serif;
    background-color: #f9f9f9;
}

#navigation {
    background-color: rgb(115, 204, 115);
    padding-top: 5px;
    padding-bottom: 5px; /*agrandi zone grise*/
}

#navigation ul {
    /* border: solid 1px blue; */
    width: fit-content; /* demander!*/
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}
/* espace entre navigation et li fait que ... éléments descendants*/
#navigation li {
    display: inline; /* ??*/
    /* border: solid 1px red; */
    margin-left: 20px;
    margin-right: 20px;
}

h1, h2, h3 {
    color: #00c852;
}

h1 {
    text-align: center;
}
/*De base j'avais fait ça mais ça prenais aussi la barre de navigation en compte, j'ai tenté d'autres trucs mais ça n'avait pas fonctionné*/
/*ul {
    background-color: #00c852;
    border-radius: 10px;
    border-left: green solid 5px;
}*/
p {
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?, ?*/
    margin: 10px 10px 10px 20px;
    line-height: 20px; /*espace entre lignes?*/
}

h1 {
    text-align: center;
    background-color:rgb(218, 253, 218);
    border-radius: 10px;
    border: rgb(2, 107, 0) solid 3px;
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?*, ?*/
}

/* Du mettre beaucoup d'id différents car sinon ma barre de navigation était touchée aussi avec les ul et li*/

#titre_animal { 
    background-color: #00c852;
    border-radius: 10px;
    border-left: green solid 5px;
}

#titre_forest { 
    background-color: #00c852;
    border-radius: 10px;
    border-left: green solid 5px;
}

#titre_avatar { 
    background-color: #00c852;
    border-radius: 10px;
    border-left: green solid 5px;
}

img.img-float { /* adaptation de l'image si on rattrécie fenêtre ?*/
    width: 150px;
    float: left;
    margin-right: 10px;
}

