body {
    background-color: beige;
    font-family:Arial, Helvetica, sans-serif;
}

h1 {
    color: rgb(249,	216,	73	);
    background-color: blue;
}

h2, h3 {
    color: chartreuse;
}

#bienvenue {
    border: 1px dashed olive;   
    background-color: aqua     
}

.important {
    border: 2px solid blue;
}

.important > strong {
    text-decoration: underline wavy;
    color: red;
    font-style: italic;
}
