body {
    font-family:Arial, Helvetica, sans-serif
}

h1, h2, h3 {
    color: #00c852;
}

h1 {
    text-align: center;
}

ul {
    background-color: #00c852;
    border-radius: 10px;
    border-left: green solid 5px;
}
p {
    padding: 10px 10px 10px 10px; /*en haut, en bas, droite?, ?*/
    margin: 10px 10px 10px 20px;
    line-height: 25px; /*espace entre lignes?*/
}

